.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F3EEEA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Adds space between the buttons */
  margin: 1rem; /* Adds margin above and below the button container */
}

.lists-container {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adds space between the lists */
  margin-top: 1rem; /* Adds margin above the lists */
}

.small-text {
  font-size: 0.5rem; /* Reduces the font size of the paragraph */
}

.button-container .row {
  display: flex;
  justify-content: center;
  gap: 60px; /* Atur jarak sesuai kebutuhan */
}
